// 定义颜色规范
$color-main: #ff5e19;
$color-background: #eee;
$color-background-d: rgba(0, 0, 0, 0.3);
$color-highlight-background: #333;
$color-dialog-background: #666;
$color-theme: #efa21c;
$color-theme-d: rgba(255, 205, 49, 0.5);
$color-sub-theme: #d93f30;
$color-text-s: #9b9b9b; // 灰色字体
$color-text-gray: #6a6a6a; // 灰色字体
$color-text: #4a4a4a; // 普通字体
$color-text-b: #333; // 黑色字体
$color-text-blue: #099ef5; // 藍色字体
$color-text-d: rgba(255, 255, 255, 0.3);
$color-text-l: rgba(255, 255, 255, 0.5);
$color-text-ll: rgba(255, 255, 255, 0.8);
$color-button: #ec5e52;
$color-placeholder: #ccc;
$color-text-hover: #efa21c; //黄色
$color-tab-selected: #fb891f; //选项卡选中黄色
$color-link: #099ef5;

//定义字体规范
$font-size-small-ss: 0.12rem;
$font-size-small-s: 0.14rem;
$font-size-small: 0.16rem;
$font-size-medium: 0.18rem;
$font-size-medium-x: 0.2rem;
$font-size-large: 0.22rem;
$font-size-large-x: 0.24rem;
$font-size-large-xx: 0.26rem;
$font-size-large-xxx: 0.28rem;
