// 定义颜色规范
$color-background           : #eee;
$color-background-d         : rgba(0, 0, 0, 0.3);
$color-highlight-background : #333;
$color-dialog-background    : #666;
$color-theme                : #efa21c;
$color-theme-d              : rgba(255, 205, 49, 0.5);
$color-sub-theme            : #d93f30;
$color-text-s               : #9b9b9b; // 灰色字体
$color-text-gray            : #6a6a6a; // 灰色字体
$color-text                 : #4A4A4A; // 普通字体
$color-text-b               : #333; // 黑色字体
$color-text-blue            : #099EF5;   // 藍色字体
$color-text-d               : rgba(255, 255, 255, 0.3);
$color-text-l               : rgba(255, 255, 255, 0.5);
$color-text-ll              : rgba(255, 255, 255, 0.8);
$color-button               : #FB7B1F;
$color-placeholder          : #ccc;
$color-text-hover           : #efa21c;  //黄色
$color-tab-selected         : #fb891f;  //选项卡选中黄色
$color-link                 : #099EF5;

//定义字体规范
$font-size-small-ss         : 12px;
$font-size-small-s          : 14px;
$font-size-small            : 16px;
$font-size-medium           : 18px;
$font-size-medium-x         : 20px;
$font-size-large            : 22px;
$font-size-large-x          : 24px;
$font-size-large-xx         : 26px;
$font-size-large-xxx        : 28px;
